<section class="hero">
    <div class="hero_content">
        <h1>welcome to our store</h1>
        <p>this is main hero section</p>
        <a href="#" class="hero_button">shop now </a>
    </div>
</section>

{% schema %}
{
    "name": "Hero Basic",
    "settings": [],
    "presets": [
        {
            "name": "Hero Basic"
        }
    ]
}
{% endschema %}